<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <img src="assets\img\duocvina.jpg"/>
    <ion-item lines="full">         
      <ion-label position="floating">Usuario</ion-label> <!-- Usamos ngModel para indicarle al input el objeto a utilizar-->         
      <ion-input type="text" [(ngModel)]="user.usuario"></ion-input>       
    </ion-item>       
    <ion-item lines="full">         <!-- Usamos ngModel para indicarle al input el objeto a utilizar-->         
      <ion-label position="floating">Password</ion-label>         
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>       
    </ion-item>       
    <ion-row>         
      <ion-col>           <!-- Indicamos mediante el (click) la funcion a quien referenciara-->           
        <ion-button expand="full" (click)="ingresar()">Ingresar</ion-button>
        <a [routerLink]="['/forgot-password']" class="small-text">Olvidó la contraseña?</a>         
      </ion-col>       
    </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="image-container"><img src="assets\img\logo.png"/></div>
  </ion-toolbar>
</ion-footer>


